@model SSD.ViewModels.UserModel
@{
    Layout = "~/Views/Shared/_SingleColumnLayout.cshtml";
    ViewBag.IsWide = true;
    ViewBag.Title = "Access Audit";
}
@section styles {
    @Styles.Render("~/Content/DataTables/css/bundle")
}

@section Title {
    <i class="icon-lock title"></i> @ViewBag.Title for @Model.LastName, @Model.FirstName
}

@Html.HiddenFor(m => m.Id)
<table class="table table-striped table-bordered DataTable table-sort" id="accessAudit">
    <thead>
        <tr>
            <th>Creating User</th>
            <th>Create Time</th>
            <th>Role</th>
            <th>Associations</th>
            <th>Is Active</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@Html.Partial("_Modal")